<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.herokuapp.pointofsale">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".ui.pos.Sales"
			android:theme="@style/AppTheme.NoActionBar"></activity>
		<activity
			android:name=".ui.pos.Checkout"
			android:theme="@style/AppTheme.Dialog" />
		<activity
			android:name=".ui.pos.PosDialog"
			android:theme="@style/AppTheme.Dialog" />
		<activity
			android:name=".ui.pos.Purchases"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ui.owner.AddProduct"
			android:parentActivityName=".ui.owner.ManageProducts"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ui.owner.EditProductDetails"
			android:parentActivityName=".ui.owner.ManageProducts"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ui.owner.ManageProducts"
			android:parentActivityName=".ui.owner.OwnerDashboard"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ui.owner.AddEmployee"
			android:parentActivityName=".ui.owner.ManageEmployees"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ui.owner.EditEmployeeDetails"
			android:parentActivityName=".ui.owner.ManageEmployees"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ui.owner.ManageEmployees"
			android:parentActivityName=".ui.owner.OwnerDashboard"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity android:name=".ui.auth.TwoFactor" />
		<activity
			android:name=".ui.owner.OwnerDashboard"
			android:theme="@style/AppTheme.NoActionBar" />
		<activity
			android:name=".ui.auth.ForgotPassword"
			android:parentActivityName=".ui.auth.MainActivity" />
		<activity
			android:name=".ui.auth.SignUp"
			android:parentActivityName=".ui.auth.MainActivity" />
		<activity android:name=".ui.auth.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>
