EMAIL_DOMAIN=<to_be_decided>
EMAIL_HOST=<to_be_decided>
EMAIL_USERNAME=<to_be_decided>
EMAIL_PASSWORD=<to_be_decided>
SITE_DOMAIN=<put_path_to_your_root_folder_here_i.e_http://localhost/hci-pos/>
DATABASE_HOST=<db_host>
DATABASE_USER=<db_username>
DATABASE_PASSWORD=<db_password>
DATABASE=<db_name>
ENVIRONMENT=development